<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">
	<select id="selectLatestNoiceList" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT 
			notice_id noticeId,
			notice_title noticeTitle
		FROM notice
		ORDER BY notice_date DESC
		LIMIT 0, 5
	</select>
	<select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT 
			notice_id noticeId,
			notice_title noticeTitle,
			notice_date noticeDate
		FROM notice
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 공지 상세보기 -->
	<resultMap type="kr.co.gdu.cash.vo.Notice" id ="selectNoticeOneResult">
		<result property="noticeId" column="notice_id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
		<collection property="noticefileList" ofType="kr.co.gdu.cash.vo.Noticefile">
			<result property="noticefileId" column="noticefile_id"></result>
			<result property="noticeId" column="notice_id"></result>
			<result property="noticefileName" column="noticefile_name"></result>
			<result property="noticefileType" column="noticefile_type"></result>
			<result property="noticefileSize" column="noticefile_size"></result>
		</collection>
		<collection property="commentList" ofType="kr.co.gdu.cash.vo.Comment">
			<result property="commentId" column="comment_id"></result>
			<result property="noticeId" column="notice_id"></result>
			<result property="commentContent" column="comment_content"></result>
		</collection>
	</resultMap>
	<select id="selectNoticeOne" parameterType="java.util.Map" resultMap="selectNoticeOneResult">
		SELECT
			n.notice_id,
			n.notice_title,
			n.notice_content,
			n.notice_date,
			nf.noticefile_id,
			nf.notice_id,
			nf.noticefile_name,
			nf.noticefile_type,
			nf.noticefile_size,
			c.comment_id,
			c.notice_id,
			c.comment_content
		FROM notice n 
		LEFT JOIN noticefile nf ON n.notice_id = nf.notice_id
		LEFT JOIN `comment` c ON n.notice_id = c.notice_id
		WHERE n.notice_id = #{noticeId}
		ORDER BY c.comment_id DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	
	<!-- 공지 수정 -->
	<resultMap type="kr.co.gdu.cash.vo.Notice" id ="selectUpdateNoticeResult">
		<result property="noticeId" column="notice_id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
		<collection property="noticefileList" ofType="kr.co.gdu.cash.vo.Noticefile">
			<result property="noticefileId" column="noticefile_id"></result>
			<result property="noticeId" column="notice_id"></result>
			<result property="noticefileName" column="noticefile_name"></result>
			<result property="noticefileType" column="noticefile_type"></result>
			<result property="noticefileSize" column="noticefile_size"></result>
		</collection>
	</resultMap>
	<select id="selectUpdateNotice" parameterType="Integer" resultMap="selectUpdateNoticeResult">
		SELECT
			n.notice_id,
			n.notice_title,
			n.notice_content,
			n.notice_date,
			nf.noticefile_id,
			nf.notice_id,
			nf.noticefile_name,
			nf.noticefile_type,
			nf.noticefile_size
		FROM notice n 
		LEFT JOIN noticefile nf ON n.notice_id = nf.notice_id
		WHERE n.notice_id = #{noticeId}
		ORDER BY n.notice_id
	</select>
	
	<!-- 총 댓글 수 -->
	<select id="selectTotalComment" resultType="Integer">
		SELECT COUNT(*)
		FROM comment
	</select>
	
	<!-- 공지 리스트 추가 -->
	<insert id="addNoticeList" parameterType="kr.co.gdu.cash.vo.Notice">
		<selectKey resultType="Integer" keyProperty="noticeId" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
		INSERT INTO notice(notice_title,notice_content,notice_date)
		VALUES(
			#{noticeTitle},
			#{noticeContent},
			NOW()
		)
	</insert>
	
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM notice WHERE notice_id=#{noticeId}
	</delete>
	
	<update id="updateNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		UPDATE notice
		SET notice_title=#{noticeTitle},
			notice_content=#{noticeContent}
		WHERE notice_id =#{noticeId}
	</update>
	<select id="totalList" resultType="Integer">
		SELECT COUNT(*) FROM notice
	</select>
</mapper>